VITE_SUPABASE_URL=https://qszgtwppgcpykzsjtypf.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_DCH9S4tZjeAzLtwdlFRmIA_hco6F48p
VITE_DEFAULT_TIMEZONE=Africa/Nairobi
VITE_GOOGLE_MAPS_KEY=your_google_maps_key
DATABASE_URL=postgresql://postgres.qszgtwppgcpykzsjtypf:[YOUR-PASSWORD]@aws-1-eu-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true
DIRECT_URL=postgresql://postgres.qszgtwppgcpykzsjtypf:[YOUR-PASSWORD]@aws-1-eu-west-1.pooler.supabase.com:5432/postgres
